/* @mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
} */

html,
body {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

body {
  line-height: 1.7 !important;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 20px;
}

header a.nav-link {
  color: rgba(250, 250, 250, 0.9) !important;
}

.navWhite {
  background-color: white;
  transition: background-color 0.4s ease;
}

.navWhite a.nav-link {
  color: rgba(0, 0, 0, 0.5) !important;
}

.navTransparent {
  background-color: transparent;
  transition: background-color 0.4s ease;
}

.jumbotron {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(../hero.jpg);
  border-radius: 0;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro {
  padding: 80px 0;
}

#testimonials {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../pattern.png);
  height: 100%;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 20rem;
  color: white;
}

#testimonials h2,
#testimonials h4 {
  color: #fff;
}

.carousel-caption p {
  line-height: 1.7;
}

.fa-star {
  color: #ffc107;
}

#services {
  height: 100%;
  background-color: #fafbfe;
}

#igFeed {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../salon.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  background-color: #171714;
  color: #eee;
}

#footer ul {
  list-style: none;
}

#footer li {
  padding-bottom: 10px;
  border-bottom: 1px solid #3f3f36;
}

#footer li:last-child {
  border-bottom: none;
}

#footer h3,
#footer h4 {
  color: #ffc107;
}

#intro a,
#intro a:visited,
#intro a:active {
  color: #000;
  text-decoration: none;
}

.footerLinks a,
.footerLinks a:visited,
.footerLinks a:active {
  color: #eee;
  text-decoration: none;
}

.footerLinks a:hover,
#photoMedia a:hover {
  color: #17a2b8;
}

#bottomFooter {
  background-color: #000;
}

.carousel-caption {
  position: static;
}

.box {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  background-color: #fff;
  border: 1px solid #eff2f7;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
}

.toTop {
  background-color: none;
  border-radius: 0.375rem;
}

.toTop:focus {
  outline: 0;
}

.box:hover {
  transform: scale(1.1);
}

#header {
  position: relative;
}

.downArrow {
  position: absolute;
  text-align: center;
  bottom: 0;
  margin-bottom: 1rem;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

@media screen and (max-width: 991px) {
  .navTransparent {
    background-color: white;
    transition: background-color 0.4s ease;
  }

  .navTransparent a.nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

@media screen and (max-width: 599px) {
  .jumbotron,
  #testimonials,
  #igFeed {
    background-attachment: inherit;
  }
}
